apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingress-nginx-controller
  namespace: ingress-nginx 
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "10254"
spec:
  template:
    spec:
      containers:
        - name: controller
          ports:
          - containerPort: 10254
            name: prometheus           