apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx-controller
  namespace: ingress-nginx
spec:
  ports:
  - appProtocol: http
    name: http
    port: 80
    protocol: TCP
    targetPort: http
    nodePort: 32700
  - appProtocol: https
    name: https
    port: 443
    protocol: TCP
    targetPort: https  
    nodePort: 32701
